<!DOCTYPE html>
<html lang="en">
{{> header}}
<body id="contactUsPage">
    {{> navbar}}
    <section id="contact" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card p-4">
                        <div class="card-body">
                            <h4>Get In Touch</h4>
                            <p>Have some queries, mail or call us</p>
                            <h5>Address</h5>
                            <p>1/123 NAKTALA,KOL:700047</p>
                            <p>213/127 JHOLI,KGP:721336</p>
                            <h5>Email</h5>
                            <p>inceptivearchitects@gmail.com</p>
                            <h5>Phone</h5>
                            <p>+91-9800131721</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card p-4">
                        <div class="card-body">
                            <h3 class="text-center">Please fill out the form to contact us</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="" id="" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="" id="" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="" id="" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="" id="" placeholder="Phone Number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Message" name="" id=""></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" value="Submit" class="btn btn-outline-custom btn-block">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-7">
                    <h3>Get in Touch</h3>
                    <form action="">
                        <div class="input-group input-group-lg mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </div>
                            <textarea class="form-control" placeholder="Message" rows="5"></textarea>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg">
                    </form>
                </div>
                <div class="col-lg-5 align-self-center">
                    <img src="../img/LOGO.jpg" alt="" class="img-fluid">
                </div> -->
            </div>
        </div>
    </section>














    {{> footer}}
    <script>
        $('#navbar-contact').parent().addClass('active');
    </script>
</body>
</html>