
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home Page</title>
</head>
<body>
    {{> header}}
    <p>{{screamIt renderHBS}}</p>
    
    <!-- Injecting footer from footer.hbj template-->
    {{> footer}}
    
</body>
</html>