<!DOCTYPE html>
<html lang="en">
{{> header}}
<body id="contactUsPage">
    {{> navbar}}
   <section id="project" class="mt-5 pt-5">
       <div class="container">
           <h4 class="aboutHeader pb-2 mb-4">All Projects</h4>
           <div class="row mb-4">
               <div class="col-md-4 col-lg-4 mb-3">
                   <img src="../img/pic2.jpg" alt="" class="img-fluid w-100">
                </div>
                <div class="col-md-4 col-lg-4 mb-3">
                   <img src="../img/pic6.jpg" alt="" class="img-fluid w-100">
                </div>
                <div class="col-md-4 col-lg-4 mb-3">
                   <img src="../img/pic5.jpg" alt="" class="img-fluid w-100">
                </div>
           </div>
           <div class="row mb-4">
               <div class="col-md-4 col-lg-4 mb-3">
                   <img src="../img/pic4.jpg" alt="" class="img-fluid w-100">
                </div>
                <div class="col-md-4 col-lg-4 mb-3">
                   <img src="../img/pic3.jpg" alt="" class="img-fluid w-100">
                </div>
                <div class="col-md-4 col-lg-4 mb-3">
                   <img src="../img/pic8.jpg" alt="" class="img-fluid w-100">
                </div>
           </div>
           <div class="row mb-4">
               <div class="col-md-4 col-lg-4 mb-3">
                   <img src="../img/pic7.jpg" alt="" class="img-fluid w-100">
                </div>
                <div class="col-md-4 col-lg-4 mb-3">
                   <img src="../img/pic1.jpg" alt="" class="img-fluid w-100">
                </div>
                <div class="col-md-4 col-lg-4 mb-3">
                   <img src="../img/pic9.jpg" alt="" class="img-fluid w-100">
                </div>
           </div>
           <div class="row mb-4">
               <div class="col-md-4 col-lg-4 mb-3">
                   <img src="../img/pic10.jpg" alt="" class="img-fluid w-100">
                </div>
           </div>
        </div>
   </section>






    {{>footer}}
    <script>
        $('#navbar-projects').parent().addClass('active');
    </script>
</body>
</html>