body {
    background: #333;
    color: #fff;
}

.navbar{
    border-bottom: #006ed6 1px solid;
    opacity: 0.8;
}

.carousel-item{
    height: 450px;
}

.carousel-image-1{
    background: url('../img/pic1.jpg');
    background-size: cover;
    opacity: 0.7; 
}
.carousel-image-2{
    background: url('../img/pic2.jpg');
    background-size: cover;
    opacity: 0.7;
}